@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Basic colors */
  --color-background: #FFFFFF;
  --color-foreground: #000000;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
